<div class="row">
  <div class="col-md-6">
    {{chartist-chart ratio='ct-square' type='pie' options=chartOptions data=chartData}}
  </div>
  <div class="col-md-6">
    <table class="table">
      <thead>
        <tr>
          <th>World</th>
          <th>Population</th>
        </tr>
      </thead>
      <tbody>
        {{#each model.worlds as |world|}}
        <tr>
          <td>{{world.name}}</td>
          <td>{{world.population}}</td>
        </tr>
        {{/each}}
      </tbody>
      <tfoot>
        <th>Total</th>
        <td>{{totalPopulation}}</td>
      </tfoot>
    </table>
  </div>
</div>

{{outlet}}
